    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	Pregunta: <%= quiz.pregunta %><p>
    	<input type="text" name="respuesta" value="Respuesta"  onclick="this.value = '';" />
    	<input type="submit" value="Enviar"/>
    </form>